<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%# Exercise calls for deleting this to make code work %>
<%# I was happy I made it work with or without a "first post" %>
<%# I think I'll keep it here %>
<% if @user.microposts.first %>
  <p>
    <strong>First Post Ever:</strong>
    <%= @user.microposts.first.content %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
